# Pandas確認課題

このPandas確認問題は、データサイエンス100本ノックの問題で最低限必要な問題を抜粋したものです。

## 必要モジュールのインポート

この問題で使うモジュールをインポートします．

In [3]:
import pandas as pd
import numpy as np

## データの読み込み

In [4]:
df_customer = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/customer.csv')
df_product = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/product.csv')
df_receipt = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/receipt.csv')

---
## 問1. 条件抽出
> P-006: レシート明細データフレーム「df_receipt」から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上数量（quantity）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上または売上数量（quantity）が5以上

In [36]:
df_receipt = df_receipt.reindex(columns = ['sales_ymd','customer_id','product_cd','quantity','amount'])
df_loc_01 = df_receipt.loc[df_receipt['customer_id'] == 'CS018205000001']
print(df_loc_01)
df_loc_02 = df_receipt.loc[(df_receipt['amount']>=1000) & (df_receipt['quantity'] >=5)]
print(df_loc_02)

       sales_ymd     customer_id  product_cd  quantity  amount
36      20180911  CS018205000001  P071401012         1    2200
9843    20180414  CS018205000001  P060104007         6     600
21110   20170614  CS018205000001  P050206001         5     990
27673   20170614  CS018205000001  P060702015         1     108
27840   20190216  CS018205000001  P071005024         1     102
28757   20180414  CS018205000001  P071101002         1     278
39256   20190226  CS018205000001  P070902035         1     168
58121   20190924  CS018205000001  P060805001         1     495
68117   20190226  CS018205000001  P071401020         1    2200
72254   20180911  CS018205000001  P071401005         1    1100
88508   20190216  CS018205000001  P040101002         1     218
91525   20190924  CS018205000001  P091503001         1     280
Empty DataFrame
Columns: [sales_ymd, customer_id, product_cd, quantity, amount]
Index: []

---
## 問2. ソート
> P-18: 顧客データフレーム（df_customer）を生年月日（birth_day）で若い順にソートし、先頭5件を全項目表示せよ。

In [6]:
a = df_customer.sort_values(by='birth_day')
a.head()

,customer_id,customer_name,gender_cd,gender,birth_day,age,postal_cd,address,application_store_cd,application_date,status_cd
18817,CS003813000014,村山 菜々美,1,女性,1928-11-26,90,182-0007,東京都調布市菊野台**********,S13003,20160214,0-00000000-0
12328,CS026813000004,吉村 朝陽,1,女性,1928-12-14,90,251-0043,神奈川県藤沢市辻堂元町**********,S14026,20150723,0-00000000-0
15682,CS018811000003,熊沢 美里,1,女性,1929-01-07,90,204-0004,東京都清瀬市野塩**********,S13018,20150403,0-00000000-0
15302,CS027803000004,内村 拓郎,0,男性,1929-01-12,90,251-0031,神奈川県藤沢市鵠沼藤が谷**********,S14027,20151227,0-00000000-0
1681,CS013801000003,天野 拓郎,0,男性,1929-01-15,90,274-0824,千葉県船橋市前原東**********,S12013,20160120,0-00000000-0

---
## 問3. 全件数
> P-021: レシート明細データフレーム（df_receipt）に対し、件数をカウントせよ。

In [7]:
df_receipt.info

<bound method DataFrame.info of         sales_ymd  sales_epoch store_cd  receipt_no  receipt_sub_no
0        20181103   1541203200   S14006         112               1  \
1        20181118   1542499200   S13008        1132               2
2        20170712   1499817600   S14028        1102               1
3        20190205   1549324800   S14042        1132               1
4        20180821   1534809600   S14025        1102               2
...           ...          ...      ...         ...             ...
104676   20180221   1519171200   S13043        1132               2
104677   20190911   1568160000   S14047        1132               2
104678   20170311   1489190400   S14040        1122               1
104679   20170331   1490918400   S13002        1142               1
104680   20190423   1555977600   S13016        1102               2

           customer_id  product_cd  quantity  amount
0       CS006214000001  P070305012         1     158
1       CS008415000097  P070701017         1      81
2       CS028414000014  P060101005         1     170
3       ZZ000000000000  P050301001         1      25
4       CS025415000050  P060102007         1      90
...                ...         ...       ...     ...
104676  ZZ000000000000  P050101001         1      40
104677  ZZ000000000000  P071006005         1     218
104678  CS040513000195  P050405003         1     168
104679  CS002513000049  P060303001         1     148
104680  ZZ000000000000  P050601001         1     138

[104681 rows x 9 columns]>

## 問4. ユニーク件数
> P-022: レシート明細データフレーム（df_receipt）の顧客ID（customer_id）に対し、ユニーク件数をカウントせよ。

In [8]:
df_receipt['customer_id'].unique

<bound method Series.unique of 0         CS006214000001
1         CS008415000097
2         CS028414000014
3         ZZ000000000000
4         CS025415000050
               ...
104676    ZZ000000000000
104677    ZZ000000000000
104678    CS040513000195
104679    CS002513000049
104680    ZZ000000000000
Name: customer_id, Length: 104681, dtype: object>

---
## 問5. 〇〇ごとに集計
> P-035: レシート明細データフレーム（df_receipt）に対し、顧客ID（customer_id）ごとに売上金額（amount）を合計して全顧客の平均を求め、平均以上に買い物をしている顧客を抽出せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、データは先頭5件だけ表示せよ。

会員のみを抽出する方法は、例えば以下の2通りの方法があります。

In [68]:
df_receipt_only_member = df_receipt[~df_receipt["customer_id"].str.startswith("Z")]
df_receipt_only_member = df_receipt.query("not customer_id.str.startswith('Z')", engine="python")

In [55]:
df_receipt_only_member = df_receipt.query("not customer_id.str.startswith('Z')", engine="python")
data_01 = df_receipt_only_member[['customer_id','amount']].groupby('customer_id').sum()
b = data_01['amount'].mean()
loc_03 = data_01.loc[data_01['amount'] >= b]
pd.set_option('display.max_rows', 5)
loc_03.head()

                amount
customer_id
CS001115000010    3044
CS001205000006    3337
CS001214000009    4685
CS001214000017    4132
CS001214000052    5639

---
## 問6. DataFrameの結合
> P-038: 顧客データフレーム（df_customer）とレシート明細データフレーム（df_receipt）から、各顧客ごとの売上金額合計を求めよ。ただし、買い物の実績がない顧客については売上金額を0として表示させること。また、顧客は性別コード（gender_cd）が女性（1）であるものを対象とし、非会員（顧客IDが'Z'から始まるもの）は除外すること。なお、結果は先頭5件だけ表示せよ。

In [10]:
df_customer_only_member = df_customer[~df_customer["customer_id"].str.startswith("Z")]
df_customer_only_member = df_customer.query("not customer_id.str.startswith('Z')", engine="python")

In [58]:
df_customer_only_member = df_customer[~df_customer["customer_id"].str.startswith("Z")]
df_receipt_only_member = df_receipt[~df_receipt["customer_id"].str.startswith("Z")]
df_customer_only_member = df_customer_only_member.drop(['customer_name','gender','birth_day','age','postal_cd','address','application_store_cd','application_date','status_cd'], axis = 1)
df_receipt_only_member = df_receipt_only_member.drop(['sales_ymd','product_cd','quantity'],axis = 1)
df_03 = pd.merge(df_customer_only_member,df_receipt_only_member)
df_03 = df_03.fillna(0)
df_03 = df_03.groupby('customer_id').agg({'amount':'sum','gender_cd' :'first'})
df_04 = df_03[df_03['gender_cd'] ==1]
df_04.head()

                amount  gender_cd
customer_id
CS001113000004    1298          1
CS001114000005     626          1
CS001115000010    3044          1
CS001211000025     456          1
CS001212000027     448          1

---
## 問7. 時系列データ
> P-046: 顧客データフレーム（df_customer）の申し込み日（application_date）はYYYYMMD形式の文字列型でデータを保有している。これを日付型（dateやdatetime）に変換し、顧客ID（customer_id）とともに抽出せよ。なお、データは先頭5件を表示せよ。

In [130]:
df_customer['application_date'] = pd.to_datetime(df_customer['application_date'])
df_customer[['customer_id','application_date']]

          customer_id              application_date
0      CS021313000114 1970-01-01 00:00:00.020150905
1      CS037613000071 1970-01-01 00:00:00.020150414
2      CS031415000172 1970-01-01 00:00:00.020150529
3      CS028811000001 1970-01-01 00:00:00.020160115
4      CS001215000145 1970-01-01 00:00:00.020170605
5      CS020401000016 1970-01-01 00:00:00.020150225
6      CS015414000103 1970-01-01 00:00:00.020150722
7      CS029403000008 1970-01-01 00:00:00.020150515
8      CS015804000004 1970-01-01 00:00:00.020150607
9      CS033513000180 1970-01-01 00:00:00.020150728
10     CS007403000016 1970-01-01 00:00:00.020150914
11     CS035614000014 1970-01-01 00:00:00.020150804
12     CS011215000048 1970-01-01 00:00:00.020150228
13     CS009413000079 1970-01-01 00:00:00.020151209
14     CS040412000191 1970-01-01 00:00:00.020151101
15     CS029415000023 1970-01-01 00:00:00.020150610
16     CS009315000023 1970-01-01 00:00:00.020150319
17     CS040702000012 1970-01-01 00:00:00.020150112
18     CS046615000013 1970-01-01 00:00:00.020181207
19     CS025412000147 1970-01-01 00:00:00.020150417
20     CS002613000047 1970-01-01 00:00:00.020151101
21     CS035415000029 1970-01-01 00:00:00.020141220
22     CS015315000033 1970-01-01 00:00:00.020141024
23     CS023513000066 1970-01-01 00:00:00.020150915
24     CS035513000134 1970-01-01 00:00:00.020150227
25     CS011312000159 1970-01-01 00:00:00.020170824
26     CS004613000404 1970-01-01 00:00:00.020170418
27     CS001515000263 1970-01-01 00:00:00.020160812
28     CS040314000027 1970-01-01 00:00:00.020150122
29     CS028413000087 1970-01-01 00:00:00.020150528
30     CS006415000279 1970-01-01 00:00:00.020150713
31     CS028314000011 1970-01-01 00:00:00.020151123
32     CS031415000106 1970-01-01 00:00:00.020150201
33     CS029215000025 1970-01-01 00:00:00.020150708
34     CS024303000010 1970-01-01 00:00:00.020150917
35     CS003802000009 1970-01-01 00:00:00.020150216
36     CS002213000045 1970-01-01 00:00:00.020151121
37     CS002715000148 1970-01-01 00:00:00.020160514
38     CS001212000098 1970-01-01 00:00:00.020170604
39     CS001513000432 1970-01-01 00:00:00.020160411
40     CS033605000005 1970-01-01 00:00:00.020150425
41     CS008615000055 1970-01-01 00:00:00.020150623
42     CS013403000056 1970-01-01 00:00:00.020170219
43     CS021313000025 1970-01-01 00:00:00.020150326
44     CS033415000229 1970-01-01 00:00:00.020150712
45     CS026303000028 1970-01-01 00:00:00.020150925
46     CS002615000422 1970-01-01 00:00:00.020170712
47     CS023313000130 1970-01-01 00:00:00.020150731
48     CS037412000044 1970-01-01 00:00:00.020141127
49     CS040415000104 1970-01-01 00:00:00.020160306
...               ...                           ...
21921  CS008315000137 1970-01-01 00:00:00.020151001
21922  CS009515000203 1970-01-01 00:00:00.020160511
21923  CS025414000145 1970-01-01 00:00:00.020170405
21924  CS035215000014 1970-01-01 00:00:00.020150409
21925  CS001514000168 1970-01-01 00:00:00.020160517
21926  CS045613000006 1970-01-01 00:00:00.020170513
21927  CS020614000011 1970-01-01 00:00:00.020151212
21928  CS003413000700 1970-01-01 00:00:00.020170712
21929  CS005602000058 1970-01-01 00:00:00.020171110
21930  CS010315000110 1970-01-01 00:00:00.020150520
21931  CS003412000304 1970-01-01 00:00:00.020160710
21932  CS035511000040 1970-01-01 00:00:00.020151021
21933  CS004613000150 1970-01-01 00:00:00.020160606
21934  CS009415000013 1970-01-01 00:00:00.020150527
21935  CS044415000024 1970-01-01 00:00:00.020180519
21936  CS001615000319 1970-01-01 00:00:00.020170208
21937  CS021411000017 1970-01-01 00:00:00.020150209
21938  CS046415000006 1970-01-01 00:00:00.020170525
21939  CS017513000253 1970-01-01 00:00:00.020170110
21940  CS012415000225 1970-01-01 00:00:00.020150304
21941  CS017214000035 1970-01-01 00:00:00.020181105
21942  CS007415000061 1970-01-01 00:00:00.020141130
21943  CS002515000242 1970-01-01 00:00:00.020170102
21944  CS021615000081 1970-01-01 00:00:00.020150627
21945  CS013515000188 1970-01-01 00:00:00.020150511
21946  CS034412000010 1970-01-01 00:00:00.020150327
21947  CS005313000401 1970-01-01 00:00:00.020161221
21948  CS015414000107 1970-01-01 00:00:00.020150917
21949  CS018313000061 1970-01-01 00:00:00.020150508
21950  CS014612000003 1970-01-01 00:00:00.020150415
21951  CS003812000014 1970-01-01 00:00:00.020150720
21952  CS002513000310 1970-01-01 00:00:00.020160911
21953  CS005415000024 1970-01-01 00:00:00.020150518
21954  CS037701000008 1970-01-01 00:00:00.020151128
21955  CS001413000156 1970-01-01 00:00:00.020150724
21956  CS040314000065 1970-01-01 00:00:00.020150703
21957  CS016404000007 1970-01-01 00:00:00.020151118
21958  CS003715000199 1970-01-01 00:00:00.020170803
21959  CS008513000185 1970-01-01 00:00:00.020150228
21960  CS004502000002 1970-01-01 00:00:00.020150418
21961  CS012415000309 1970-01-01 00:00:00.020180131
21962  CS040213000013 1970-01-01 00:00:00.020151005
21963  CS001315000402 1970-01-01 00:00:00.020171103
21964  CS039313000173 1970-01-01 00:00:00.020170901
21965  CS042513000030 1970-01-01 00:00:00.020181114
21966  CS002512000474 1970-01-01 00:00:00.020171110
21967  CS029414000065 1970-01-01 00:00:00.020150313
21968  CS012403000043 1970-01-01 00:00:00.020150406
21969  CS033512000184 1970-01-01 00:00:00.020160206
21970  CS009213000022 1970-01-01 00:00:00.020150424

[21971 rows x 2 columns]

---
## 問8. 関数
> P-061: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、合計した売上金額を常用対数化（底=10）して顧客ID、売上金額合計とともに表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、結果は先頭5件を表示せよ。

In [163]:
df_01 = df_receipt_only_member.drop(['sales_ymd','sales_epoch','store_cd','receipt_no','receipt_sub_no','product_cd','quantity'],axis = 1)
df_02 = df_01[['customer_id','amount']].groupby('customer_id').sum()
df_02['uriage_taisuu'] = np.log(df_02['amount'])
df_02.head()

                amount  uriage_taisuu
customer_id
CS001113000004    1298       7.168580
CS001114000005     626       6.439350
CS001115000010    3044       8.020928
CS001205000004    1988       7.594884
CS001205000006    3337       8.112827

---
## 問9. 欠損数
> P-079: 商品データフレーム（df_product）の各項目に対し、欠損数を確認せよ。

In [138]:
num_missing = df_product.isnull().sum()
num_missing

product_cd            0
category_major_cd     0
category_medium_cd    0
category_small_cd     0
unit_price            7
unit_cost             7
dtype: int64

---
## 問10. 欠損値の除去
> P-080: 商品データフレーム（df_product）のいずれかの項目に欠損が発生しているレコードを全て削除した新たなdf_product_1を作成せよ。なお、削除前後の件数を表示させ、前設問で確認した件数だけ減少していることも確認すること。

In [139]:
df_product_1 = df_product.dropna(axis = 0)

In [140]:
len(df_product), len(df_product_1)

(10030, 10023)

---
## 問11. 欠損値の穴埋め
> P-081: 単価（unit_price）と原価（unit_cost）の欠損値について、それぞれの平均値で補完した新たなdf_product_2を作成せよ。なお、平均値について1円未満は四捨五入とせよ。補完実施後、各項目について欠損が生じていないことも確認すること。

In [171]:
df_product_2 = df_product
df_product_2['unit_price'] = df_product['unit_price'].fillna(df_product['unit_price'].mean())
df_product_2['unit_cost'] = df_product['unit_cost'].fillna(df_product['unit_cost'].mean())
df_product_2['unit_price'] =  df_product_2['unit_price'].astype(int)
df_product_2['unit_cost'] = df_product_2['unit_cost'].astype(int)
df_product_2.isnull().sum()

product_cd            0
category_major_cd     0
category_medium_cd    0
category_small_cd     0
unit_price            0
unit_cost             0
unitprice             0
unitcost              0
dtype: int64