# Pandas確認課題

このPandas確認問題は、データサイエンス100本ノックの問題で最低限必要な問題を抜粋したものです。

## 必要モジュールのインポート

この問題で使うモジュールをインポートします．

In [3]:
import pandas as pd
import numpy as np

## データの読み込み

In [7]:
df_customer = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/customer.csv')
df_product = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/product.csv')
df_receipt = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/receipt.csv')

---
## 問1. 条件抽出
> P-006: レシート明細データフレーム「df_receipt」から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上数量（quantity）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上または売上数量（quantity）が5以上

In [11]:
df_receipt = df_receipt.reindex(columns = ['sales_ymd','customer_id','product_cd','quantity','amount'])
df_loc_01 = df_receipt.loc[df_receipt['customer_id'] == 'CS018205000001']
print(df_loc_01)
df_loc_02 = df_receipt.loc[(df_receipt['amount']>=1000) | (df_receipt['quantity'] >=5)]
print(df_loc_02)

       sales_ymd     customer_id  product_cd  quantity  amount
36      20180911  CS018205000001  P071401012         1    2200
9843    20180414  CS018205000001  P060104007         6     600
21110   20170614  CS018205000001  P050206001         5     990
27673   20170614  CS018205000001  P060702015         1     108
27840   20190216  CS018205000001  P071005024         1     102
28757   20180414  CS018205000001  P071101002         1     278
39256   20190226  CS018205000001  P070902035         1     168
58121   20190924  CS018205000001  P060805001         1     495
68117   20190226  CS018205000001  P071401020         1    2200
72254   20180911  CS018205000001  P071401005         1    1100
88508   20190216  CS018205000001  P040101002         1     218
91525   20190924  CS018205000001  P091503001         1     280
        sales_ymd     customer_id  product_cd  quantity  amount
17       20181225  ZZ000000000000  P071401002         1    1100
36       20180911  CS018205000001  P071401012         1    2200
40       20170501  CS004415000232  P090301078         1    1880
73       20170523  CS028415000203  P071401019         1    2200
75       20180310  ZZ000000000000  P071401002         1    1100
...           ...             ...         ...       ...     ...
104622   20170801  CS017515000174  P090701080         1    1280
104656   20170730  CS005515000093  P071401018         1    2200
104662   20191024  CS011411000001  P071401001         1    1100
104666   20170330  CS017411000016  P071401013         1    2200
104669   20190726  CS006615000114  P071301002         1    2485

[8451 rows x 5 columns]

---
## 問2. ソート
> P-18: 顧客データフレーム（df_customer）を生年月日（birth_day）で若い順にソートし、先頭5件を全項目表示せよ。

In [9]:
a = df_customer.sort_values(by='birth_day')
a.head()

,customer_id,customer_name,gender_cd,gender,birth_day,age,postal_cd,address,application_store_cd,application_date,status_cd
18817,CS003813000014,村山 菜々美,1,女性,1928-11-26,90,182-0007,東京都調布市菊野台**********,S13003,20160214,0-00000000-0
12328,CS026813000004,吉村 朝陽,1,女性,1928-12-14,90,251-0043,神奈川県藤沢市辻堂元町**********,S14026,20150723,0-00000000-0
15682,CS018811000003,熊沢 美里,1,女性,1929-01-07,90,204-0004,東京都清瀬市野塩**********,S13018,20150403,0-00000000-0
15302,CS027803000004,内村 拓郎,0,男性,1929-01-12,90,251-0031,神奈川県藤沢市鵠沼藤が谷**********,S14027,20151227,0-00000000-0
1681,CS013801000003,天野 拓郎,0,男性,1929-01-15,90,274-0824,千葉県船橋市前原東**********,S12013,20160120,0-00000000-0

---
## 問3. 全件数
> P-021: レシート明細データフレーム（df_receipt）に対し、件数をカウントせよ。

In [10]:
a = len(df_receipt)
print(a)

104681

## 問4. ユニーク件数
> P-022: レシート明細データフレーム（df_receipt）の顧客ID（customer_id）に対し、ユニーク件数をカウントせよ。

In [10]:
unique_count = df_receipt['customer_id'].nunique()
print(unique_count)

8307

---
## 問5. 〇〇ごとに集計
> P-035: レシート明細データフレーム（df_receipt）に対し、顧客ID（customer_id）ごとに売上金額（amount）を合計して全顧客の平均を求め、平均以上に買い物をしている顧客を抽出せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、データは先頭5件だけ表示せよ。

会員のみを抽出する方法は、例えば以下の2通りの方法があります。

In [21]:
df_receipt_only_member = df_receipt[~df_receipt["customer_id"].str.startswith("Z")]
df_receipt_only_member = df_receipt.query("not customer_id.str.startswith('Z')", engine="python")

NameError: name 'df_receipt' is not defined

In [22]:
df_receipt_only_member = df_receipt.query("not customer_id.str.startswith('Z')", engine="python")
data_01 = df_receipt_only_member[['customer_id','amount']].groupby('customer_id').sum()
b = data_01['amount'].mean()
loc_03 = data_01.loc[data_01['amount'] >= b]
pd.set_option('display.max_rows', 5)
loc_03.head()

                amount
customer_id
CS001115000010    3044
CS001205000006    3337
CS001214000009    4685
CS001214000017    4132
CS001214000052    5639

---
## 問6. DataFrameの結合
> P-038: 顧客データフレーム（df_customer）とレシート明細データフレーム（df_receipt）から、各顧客ごとの売上金額合計を求めよ。ただし、買い物の実績がない顧客については売上金額を0として表示させること。また、顧客は性別コード（gender_cd）が女性（1）であるものを対象とし、非会員（顧客IDが'Z'から始まるもの）は除外すること。なお、結果は先頭5件だけ表示せよ。

In [23]:
df_customer_only_member = df_customer[~df_customer["customer_id"].str.startswith("Z")]
df_customer_only_member = df_customer.query("not customer_id.str.startswith('Z')", engine="python")

In [24]:
df_customer_only_member = df_customer[~df_customer["customer_id"].str.startswith("Z")]
df_receipt_only_member = df_receipt[~df_receipt["customer_id"].str.startswith("Z")]
df_customer_only_member = df_customer_only_member.drop(['customer_name','gender','birth_day','age','postal_cd','address','application_store_cd','application_date','status_cd'], axis = 1)
df_receipt_only_member = df_receipt_only_member.drop(['sales_ymd','product_cd','quantity'],axis = 1)
df_03 = pd.merge(df_customer_only_member,df_receipt_only_member)
df_03 = df_03.fillna(0)
df_03 = df_03.groupby('customer_id').agg({'amount':'sum','gender_cd' :'first'})
df_04 = df_03[df_03['gender_cd'] ==1]
df_04.head()

                amount  gender_cd
customer_id
CS001113000004    1298          1
CS001114000005     626          1
CS001115000010    3044          1
CS001211000025     456          1
CS001212000027     448          1

---
## 問7. 時系列データ
> P-046: 顧客データフレーム（df_customer）の申し込み日（application_date）はYYYYMMD形式の文字列型でデータを保有している。これを日付型（dateやdatetime）に変換し、顧客ID（customer_id）とともに抽出せよ。なお、データは先頭5件を表示せよ。

In [29]:
df_customer['application_date'] = pd.to_datetime(df_customer['application_date'], format='%Y%M%d')
df_customer[['customer_id','application_date']]

          customer_id application_date
0      CS021313000114       1970-01-01
1      CS037613000071       1970-01-01
...               ...              ...
21969  CS033512000184       1970-01-01
21970  CS009213000022       1970-01-01

[21971 rows x 2 columns]

---
## 問8. 関数
> P-061: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、合計した売上金額を常用対数化（底=10）して顧客ID、売上金額合計とともに表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、結果は先頭5件を表示せよ。

In [31]:
df_02 = df_receipt_only_member[['customer_id','amount']].groupby('customer_id').sum()
df_02['uriage_taisuu'] = np.log(df_02['amount'])
df_02.head()

                amount  uriage_taisuu
customer_id
CS001113000004    1298       7.168580
CS001114000005     626       6.439350
CS001115000010    3044       8.020928
CS001205000004    1988       7.594884
CS001205000006    3337       8.112827

---
## 問9. 欠損数
> P-079: 商品データフレーム（df_product）の各項目に対し、欠損数を確認せよ。

In [138]:
num_missing = df_product.isnull().sum()
num_missing

product_cd            0
category_major_cd     0
category_medium_cd    0
category_small_cd     0
unit_price            7
unit_cost             7
dtype: int64

---
## 問10. 欠損値の除去
> P-080: 商品データフレーム（df_product）のいずれかの項目に欠損が発生しているレコードを全て削除した新たなdf_product_1を作成せよ。なお、削除前後の件数を表示させ、前設問で確認した件数だけ減少していることも確認すること。

In [139]:
df_product_1 = df_product.dropna(axis = 0)

In [140]:
len(df_product), len(df_product_1)

(10030, 10023)

---
## 問11. 欠損値の穴埋め
> P-081: 単価（unit_price）と原価（unit_cost）の欠損値について、それぞれの平均値で補完した新たなdf_product_2を作成せよ。なお、平均値について1円未満は四捨五入とせよ。補完実施後、各項目について欠損が生じていないことも確認すること。

In [37]:
df_product_2 = df_product.copy()
df_product_2['unit_price'] = df_product['unit_price'].fillna(df_product['unit_price'].mean())
df_product_2['unit_cost'] = df_product['unit_cost'].fillna(df_product['unit_cost'].mean())
df_product_2['unit_price'] =  df_product_2['unit_price'].astype(int)
df_product_2['unit_cost'] = df_product_2['unit_cost'].astype(int)
print(df_product_2.isnull().sum())

product_cd           0
category_major_cd    0
                    ..
unit_price           0
unit_cost            0
Length: 6, dtype: int64